@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700&display=swap');

:root {
  color-scheme: light;
}

body {
  @apply bg-nelna-green-soft text-nelna-dark;
  font-family: 'Inter', sans-serif;
}

.hero-pattern {
  background-color: #fdf2f2;
  background-image: radial-gradient(#fa5252 0.5px, transparent 0.5px), radial-gradient(#fa5252 0.5px, #fdf2f2 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
