# Backend Environment Variables
NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://admin:nelna_admin_2024@localhost:27017/nelna_farm?authSource=admin

# For production
# MONGO_URI=mongodb://admin:your_password@mongodb:27017/nelna_farm?authSource=admin
